<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/admin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/admin/style/admin.css" media="all"/>
    <link href="/admin/hplus/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="/admin/hplus/css/font-awesome.css?v=4.4.0" rel="stylesheet">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">添加角色</div>
        <div class="layui-card-body layui-form" lay-filter="component-form-element">
            <div class="layui-form-item">
                <div class="layui-col-md6">
                    <label class="layui-form-label">名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="roleName" lay-verify="required"  placeholder=""
                               autocomplete="off" class="layui-input" >
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">角色键：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="roleKey" lay-verify="required" placeholder="" autocomplete="off"
                               class="layui-input" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-col-md6">
                    <label class="layui-form-label">级别：</label>
                    <div class="layui-input-inline">
                        <div id="level" class="xm-select-demo"></div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item ">
                        <label class="layui-form-label">备注：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="remark" placeholder="" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item ">
                <div class="layui-col-md6">
                    <label class="layui-form-label">菜单：</label>
                    <div class="layui-input-block">
                        <fieldset class="layui-elem-field">
                            <legend>选择菜单</legend>
                            <div class="layui-field-box">
                                <div id="menuTree"></div>
                            </div>
                        </fieldset>

                    </div>

                </div>
                <div class="layui-col-md6">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-bg-blue" lay-submit lay-filter="component-form-element">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/admin/layui/layui.js"></script>
<script type="text/javascript" src="/admin/layui/xm-select.js"></script>
<script type="text/javascript" src="/admin/axios/axios.min.js"></script>

<script src="/admin/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="/admin/hplus/js/bootstrap.min.js?v=3.3.7"></script>
<!-- jsTree plugin javascript -->
<script src="/admin/hplus/js/plugins/jsTree/jstree.min.js"></script>

<script type="text/javascript">
    layui.config({
        base: '../../admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , form = layui.form;

        let ctx = '[[@{/}]]';
        let prefix = ctx + "system/role";

        let roles = [(${@html.toHtmlText(roles)})];
        let thisLevel = [[${level}]];

        let level = xmSelect.render({
            el: '#level',
            name: 'level',
            layVerify: 'required',
            radio: true,
            clickClose: true,
            // max: 1,
            // maxMethod(seles, item) {
            //     layer.alert('不能超过1个', {icon: 3, title: '警告'});
            // },
            data: []
        })

        axios({
            method: 'post',
            url: prefix + '/level',
        }).then(response => {
            let res = response.data;
            let levels = [];
            //debugger
            for (let levelsKey in res.data) {
                levels.push({name: res.data[levelsKey], value: res.data[levelsKey]})
            }
            level.update({
                data: levels,
                autoRow: true,
            })
        });

        function initJsTree(menuTree) {
            $('#menuTree').jstree({
                'core': {
                    'multiple': true,
                    //"animation": 0,
                    "themes": {
                        "theme": "default",
                        "dots": true,  // 连接线
                        "icons": true
                    },
                    'data': menuTree /*{
                    'url': prefix + '/tree',
                    'data': function (node) {
                        if (node.id === '#') {
                            return {targetRoleId:args.get('id'),'pId': 0};
                        }
                        return {targetRoleId:args.get('id'),'pId': node.id};
                    }
                }*/
                }, ui: {
                    theme_name: "checkbox"
                },
                plugins: ["wholerow", "sort", "types", "checkbox", "themes", "html_data"],
                "checkbox": {
                    "keep_selected_style": false, // 是否默认选中
                    //"three_state": true,    //是否进行父子节点级联选择
                    "tie_selection": false
                }
            });
        }

        function initTreeData(call) {
            $.ajax({
                url: prefix + '/tree',
                type: "post",
                data: {
                    targetRoleId: 0
                },
                dataType: "json",
                success: function (r) {
                    if (r.code === 0) {
                        if (r.count != 0) {
                            call(r.data);
                        }
                    } else {
                        layer.alert(r.msg, {
                            icon: 5,
                            title: '失败'
                        });
                    }
                }
            });
        }

        initTreeData(function (data) {
            initJsTree(data);
        })

        form.on('submit(component-form-element)', function (obj) {
            let data = obj.field;
            let treeData = $("#menuTree").jstree("get_checked");

            $.ajax({
                url: prefix + "/add",
                type: "post",
                data: {
                    roleName: data.roleName,
                    roleKey: data.roleKey,
                    level: data.level,
                    remark: data.remark,
                    menuIds: treeData.toString()
                },
                dataType: "json",
                success: function (r) {
                    if (r.code === 0) {
                        layer.msg('添加成功');
                        setTimeout(function (){parent.layui.admin.events.closeThisTabs();},500)
                    } else {
                        layer.alert(r.msg, {
                            icon: 5,
                            title: '失败'
                        });
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>