<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/admin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/admin/style/admin.css" media="all"/>
    <link href="/admin/hplus/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="/admin/hplus/css/font-awesome.css?v=4.4.0" rel="stylesheet">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">添加任务</div>
        <div class="layui-card-body layui-form" lay-filter="component-form-element">
            <div class="layui-form-item">
                <div class="layui-col-md6">
                    <label class="layui-form-label">描述：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="jobDesc" lay-verify="required" placeholder=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">负责人：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="author" lay-verify="required" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-col-md6">
                    <label class="layui-form-label">任务参数：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="executorParam" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">调度配置：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="scheduleConf" id="scheduleConf" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-col-md6">
                    <label class="layui-form-label">JobHandler：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="executorHandler" placeholder="" class="layui-input">
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-col-md6">
                    <label class="layui-form-label">任务超时：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="executorTimeout" placeholder="" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">失败重试次数：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="executorFailRetryCount" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item ">
                <div class="layui-col-md12">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-bg-blue" lay-submit lay-filter="component-form-element">立即提交
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/admin/layui/layui.js"></script>
<script type="text/javascript" src="/admin/layui/xm-select.js"></script>
<script type="text/javascript" src="/admin/axios/axios.min.js"></script>

<script src="/admin/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="/admin/hplus/js/bootstrap.min.js?v=3.3.7"></script>
<!-- jsTree plugin javascript -->
<script src="/admin/hplus/js/plugins/jsTree/jstree.min.js"></script>

<script type="text/javascript">
    layui.config({
        base: '../../admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , form = layui.form;

        let ctx = '[[@{/}]]';
        let prefix = ctx + "tool/timer";


        $('#scheduleConf').click(function (){
            layer.open({
                title: '添加执行器'
                , type: 2
                //,skin: 'layui-layer-rim'
                , shadeClose: true
                , area: ['700px', '600px']
                , content: prefix + '/cron'
                ,btn:['确认','取消']
                ,yes:function (index) {
                     $('#scheduleConf').val(localStorage['cron']);
                    layer.close(index);
                }
            });
        });

        // axios({
        //     method: 'post',
        //     url: prefix + '/level',
        // }).then(response => {
        //     let res = response.data;
        //
        // });

        form.on('submit(component-form-element)', function (obj) {
            let data = obj.field;

            $.ajax({
                url: prefix + "/add",
                type: "post",
                data: {
                    executorFailRetryCount: data.executorFailRetryCount,
                    executorTimeout: data.executorTimeout,
                    executorHandler: data.executorHandler,
                    scheduleConf: data.scheduleConf,
                    executorParam: data.executorParam,
                    author: data.author,
                    jobDesc: data.jobDesc
                },
                dataType: "json",
                success: function (r) {
                    if (r.code === 0) {
                        layer.msg('添加成功');
                        setTimeout(function () {
                            parent.layui.admin.events.closeThisTabs();
                        }, 500)
                    } else {
                        layer.alert(r.msg, {
                            icon: 5,
                            title: '失败'
                        });
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>